.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: none;
}

.navbar ul li {
    list-style: none;
    text-align: start;

}

.navbar ul li a {
    text-decoration: none;
}

button,
input,
label {
    display: block;
    font: inherit;
}

.footer {
    background-color: black;
    color: white;
    display: grid;
    place-content: center;
    padding: 0.5rem;
}