html {
    scroll-behavior: smooth;
}

:root {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
}

body {
    max-width: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.investment-title {
    text-align: left;
    padding: 1rem 0.75rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.investment-card {
    padding: 0.75rem 0;
    margin: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
    width: 90%;
    height: 150px;
    position: relative;
}

.text_one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    font-weight: bold;
    padding: 0 0.75rem;
}

.invest-btn {
    display: flex;
    align-items: center;
    border: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-weight: 600;

    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.75rem;
    background-color: black;
}

.invest-btn a {
    text-decoration: none;
    color: white;
}



.text_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    margin-bottom: 1rem;
    font-weight: bold;
    padding: 0 0.75rem;
}

.invest-percentage {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1.25rem;
    font-size: 0.9rem;
}